<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.OpenJDK.Charsets" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Security" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.SwingAWT" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.Util" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.OpenJDK.XML.API" version="7.2.4630.5" targetFramework="net48" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>